/* 
:: Buttons
*/


.button:active { 
	@include box-shadow(0 0 4px #2ba6cb, 0 1px 0 rgba(255, 255, 255, 0.5) inset);	
}

%button, .button { 
	width: auto; 
	background: lighten($dark-color, 52%); 
	color: white; 
	text-transform: uppercase;
	font-size: 13px;
	cursor: pointer; 
	display: inline-block; 
	font-family: inherit; 
	font-weight: bold; 
	line-height: 1; margin: 0; outline: none; padding:8px 14px 8px; 
	position: relative; text-align: center; text-decoration: none; 
	-webkit-appearance:none;
	@include transition(background-color 0.15s ease-in-out);
	@include border-radius(16px 16px);
	&:hover { color: white; background-color: $main-color; }
	&:active { @include box-shadow( 0 1px 1px rgba(0, 0, 0, 0.68) inset);}
	&:focus { @include box-shadow(0 0 4px #2ba6cb, 0 1px 0 rgba(255, 255, 255, 0.4) inset);  }
}






.mediaButton {
	@include text-shadow(-1px -1px 1px rgba(0, 0, 0, 0.5));	
	@extend %button;
	padding:6px 18px;
	text-transform:uppercase;
	font-size:13px;
	background-color: #d1d1d1; // Old browsers
	@include filter-gradient(#d1d1d1, #505050, vertical); // IE6-9
	@include background-image(linear-gradient(top, #A7A6A6 2%, #686767 7%, #474747 100%));
	border: 1px solid #2a2a2a;
	@include box-shadow(0px 1px 1px rgba(0, 0, 0, .4));
	@include border-radius(16px 16px);

	&.listen, &.download {
		padding:6px 26px 6px 14px;
		position: relative;
		margin-bottom: 6px;
	}

	&.listen:after {
		content: '';
		background: $sprite -8px -104px;
		height: 20px;
		width: 20px;
		position: absolute;
	}

	&.download:after {
		content: '';
		background: $sprite -34px -104px;
		height: 20px;
		width: 20px;
		position: absolute;
	}
}



// Make 'Input: Submit' type consistent with Buttons
input[type="submit"] {
	border: 0;
	font-weight: normal;
}

