// 
// :: Colors, Font Family Paths, Image Paths, Type 
// 
// Theme Colors
$main-color:#176f9f;
$highlight-color: #cc5b04;
$secondary-color:#a1b09b;
$dark-color:#3b3b3b;
$text-color: #3b3b3b;
$header-color: #3b3b3b;
$white: #fff;

// Font Family Paths
$sans:"proxima-nova-1", "proxima-nova-2","Calibri","Droid Sans","Helvetica Neue","Helvetica","Arial",sans-serif;
$serif:"skolar-1", "skolar-2" ,"Droid Serif","Cambria","Georgia","Times New Roman","Times",serif;

// Image Paths
$sprite: url(../images/site/sprite+@2x.png) no-repeat;
