!!!
/ paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/
/[if IE 8] <html class="no-js lt-ie9" lang="en">
/[if gt IE 8] ><!
%html.no-js{:lang => "en"}
  / <![endif]
  %head
    %meta{:charset => "utf-8"}/
    / Viewport
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title Park Cities Presbyterian Church
    / CSS
    %link{:href => "css/app.css", :rel => "stylesheet"}
      / Modernizr
      %script{:src => "js/foundation/modernizr.foundation.js"}
  %body.off-canvas.hide-extras
    #pageWrap
      / Ministry Index: Mega Drop
      #megaDrop.ministryIndex
        .inner
          %header
            %h2 Park Cities Presbyterian Church Ministry Index
          #ministryIndexWrap
            %ul.ministryIndexColumn
              %li.name Services
              %li
                %a{:href => ""} Item Title Goes Here
              %li
                %a{:href => ""} Item Title Goes Here
              %li
                %a{:href => ""} Item Title Goes Here
              %li
                %a{:href => ""} Item Title Goes Here
              %li
                %a{:href => ""} Item Title Goes Here
              %li
                %a{:href => ""} Item Title Goes Here
            %ul.ministryIndexColumn
              %li.name Services
              %li
                %a{:href => ""} Item Title Goes Here
              %li
                %a{:href => ""} Item Title Goes Here
              %li
                %a{:href => ""} Item Title Goes Here
              %li
                %a{:href => ""} Item Title Goes Here
              %li
                %a{:href => ""} Item Title Goes Here
              %li
                %a{:href => ""} Item Title Goes Here
            %ul.ministryIndexColumn
              %li.name Services
              %li
                %a{:href => ""} Item Title Goes Here
              %li
                %a{:href => ""} Item Title Goes Here
              %li
                %a{:href => ""} Item Title Goes Here
              %li
                %a{:href => ""} Item Title Goes Here
              %li
                %a{:href => ""} Item Title Goes Here
              %li
                %a{:href => ""} Item Title Goes Here
            %ul.ministryIndexColumn
              %li.name Services
              %li
                %a{:href => ""} Item Title Goes Here
              %li
                %a{:href => ""} Item Title Goes Here
              %li
                %a{:href => ""} Item Title Goes Here
              %li
                %a{:href => ""} Item Title Goes Here
              %li
                %a{:href => ""} Item Title Goes Here
              %li
                %a{:href => ""} Item Title Goes Here
          / /ministryIndexWrap
      / Masthead
      %header#mastheadWrap
        #masthead
          .inner
            %h1#name
              %a{:href => "/"} PCPC
            %aside#hours
              %span.title Sunday Service Times
              %span.body
                8:00am - Communion Service
                %br/
                9:30am/11:00am
            %nav#actionNav
              %ul
                %li.search
                  %input{:placeholder => "Search", :type => "text"}/
                %li
                  %a{:href => "news.html"} News
                %li
                  %a{:href => "events.html"} Events
                %li
                  %a{:href => "contact.html"} Contact
                %li
                  %a.toggleMegaDrop{:href => "#"} Ministry Index
          / /inner
        / /masthead
        %nav#globalNav.top-bar
          %ul
            %li.name
              %a{:href => "#"} Title
            %li.toggle-topbar
              %a{:href => ""}
          %section
            %ul
              %li
                %a{:href => "about.html"} About
              %li
                %a{:href => "worship.html"} Worship
              %li
                %a{:href => "connect.html"} Connect
              %li
                %a{:href => "serve.html"} Serve
              %li
                %a{:href => "outreach.html"} Outreach
              %li
                %a{:href => "care.html"} Care
              %li
                %a{:href => "resources.html"} Resources
              / Dropdown
              %li.dropdown
                %a{:href => "new-here.html"} New Here
                .dropdownWrap
                  .inner
                    %ul.dropdownColumn
                      %li.name Services
                      %li
                        %a{:href => ""} Item Title Goes Here
                      %li
                        %a{:href => ""} Item Title Goes Here
                      %li
                        %a{:href => ""} Item Title Goes Here
                      %li
                        %a{:href => ""} Item Title Goes Here
                      %li
                        %a{:href => ""} Item Title Goes Here
                      %li
                        %a{:href => ""} Item Title Goes Here
                    %ul.dropdownColumn
                      %li.name Services
                      %li
                        %a{:href => ""} Item Title Goes Here
                      %li
                        %a{:href => ""} Item Title Goes Here
                      %li
                        %a{:href => ""} Item Title Goes Here
                      %li
                        %a{:href => ""} Item Title Goes Here
                      %li
                        %a{:href => ""} Item Title Goes Here
                      %li
                        %a{:href => ""} Item Title Goes Here
                    %ul.dropdownColumn
                      %li.name Services
                      %li
                        %a{:href => ""} Item Title Goes Here
                      %li
                        %a{:href => ""} Item Title Goes Here
                      %li
                        %a{:href => ""} Item Title Goes Here
                      %li
                        %a{:href => ""} Item Title Goes Here
                      %li
                        %a{:href => ""} Item Title Goes Here
                      %li
                        %a{:href => ""} Item Title Goes Here
                    %ul.dropdownColumn
                      %li.name Services
                      %li
                        %a{:href => ""} Item Title Goes Here
                      %li
                        %a{:href => ""} Item Title Goes Here
                      %li
                        %a{:href => ""} Item Title Goes Here
                      %li
                        %a{:href => ""} Item Title Goes Here
                      %li
                        %a{:href => ""} Item Title Goes Here
                      %li
                        %a{:href => ""} Item Title Goes Here
                    .clear
                  .inner
      / /mastheadWrap
      / Content
      #contentWrap
        / Two Columns Content Layout
        %section.main-section{:role => "main"}
          .inner
            / Off Canvas: Page Menu Toggle
            %span#sidebarToggle
              %a#sidebarButton{:href => "#sidebar"} Menu
            %ul.breadcrumbs
              %li
                %span Home
              %li
                %span Features
              %li
                %span Gene Splicing
              %li.current
                %span Home
            / Body
            %article.add-custom-title-for-additional-styles
              %header.title
                %h2 Outreach &amp; Help
                %p.lead Vestibulum pellentesque vulputate tempus. Suspendisse sed consequat lectus. Nulla bibendum venenatis eros, elementum malesuada mi imperdiet eu.
              %section.body
                %p Mauris consectetur elementum massa nec convallis. Integer mauris purus, condimentum vitae mattis a, vehicula lacinia justo. Pellentesque scelerisque orci at ligula cursus eu tempor elit euismod. Donec eleifend, turpis in vulputate eleifend, orci lectus eleifend quam, et ultrices mi nisi id nulla. Nullam est magna, varius nec consectetur vel, pellentesque ac justo. Vivamus commodo pellentesque ante, sed semper nulla congue non. Nunc nec augue sed nibh dapibus accumsan. Nullam in mauris quis lacus ultricies convallis. Morbi semper suscipit elit ut suscipit. Donec lobortis tellus lorem.
                %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla eget nulla massa. Sed ultricies posuere tincidunt. Morbi dolor est, aliquet quis egestas eu, consectetur nec neque. Etiam velit libero, congue eu accumsan sit amet, eleifend et sem. Donec ac felis sed sapien placerat venenatis. Fusce id tempus nunc. Vestibulum pellentesque vulputate tempus. Suspendisse sed consequat lectus. Nulla bibendum venenatis eros, elementum malesuada mi imperdiet eu. Fusce ornare gravida nulla, sed scelerisque sem scelerisque at.
            / Sidebar Menu and Panel
            #aside-panel
              / Sub Menu Content
              %nav#menu{:role => "navigation"}
                %h4
                  %a{:href => ""} Side Nav Title
                %ul
                  %li.active
                    %a{:href => ""} One
                  %li
                    %a{:href => ""} Two
                  %li
                    %a{:href => ""} Three
                  %li
                    %a{:href => ""} Four
            / /aside-panel
          / /inner
        / /article
        / Off Canvas: Sub Menu Content
        %section#sidebar{:role => "complementary"}
          %nav#sideMenu{:role => "navigation"}
            %ul#sideMainNav.nav-bar
              %li
                %a{:href => ""} Item One
              %li
                %a{:href => ""} Two
              %li
                %a{:href => ""} Three
              %li
                %a{:href => ""} Four
      / /contentWrap
      / Footer
      %footer#footer
        .inner
          %ul.footerColumn
            %li.name Article Layouts
            %li
              %a{:href => "article-text.html"} Layout: Text
            %li
              %a{:href => "article-text_with_list.html"} Layout: Text + List
            %li
              %a{:href => "article-text_with_video.html"} Layout: Text + Video
            %li
              %a{:href => "article-text_with_audio.html"} Layout: Text + Audio
            %li
              %a{:href => "article-text_with_hero"} Layout: Text + Hero Image
          %ul.footerColumn
            %li.name Menu Layouts
            %li
              %a{:href => "large-menu_images.html"} Large Menu + Images
            %li
              %a{:href => "large-menu_text.html"} Large Menu + Text
            %li.name Use Guide
            %li
              %a{:href => "use-guide.html"} Use Guide
          %ul.footerColumn
            %li.name Special List Layouts
            %li
              %a{:href => "audio-list.html"} Layout: Audio List
            %li
              %a{:href => "resources-list.html"} Layout: Resources List
            %li.name Generic Title
            %li
              %a{:href => ""} Title of Item Goes Here
          %ul.footerColumn
            %li.name Generic Title
            %li
              %a{:href => ""} Title of Item Goes Here
            %li
              %a{:href => ""} Title of Item Goes Here
            %li
              %a{:href => ""} Title of Item Goes Here
            %li
              %a{:href => ""} Title of Item Goes Here
    / /pageWrap
    / JS Files (Uncompressed)
    %script{:src => "js/foundation/jquery.js"}
    %script{:src => "js/foundation/jquery.foundation.topbar.js"}
    %script{:src => "js/foundation/jquery.foundation.orbit.js"}
    %script{:src => "js/foundation/jquery.offcanvas.js"}
    %script{:src => "js/mediaelementjs.min.js"}
    %script{:src => "js/foundation/app.js"}