!!!
/ paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/
/[if IE 8] <html class="no-js lt-ie9" lang="en">
/[if gt IE 8] ><!
%html.no-js{:lang => "en"}
  / <![endif]
  %head
    %meta{:charset => "utf-8"}/
    / Viewport
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title Park Cities Presbyterian Church
    / CSS
    %link{:href => "css/app.css", :rel => "stylesheet"}
      / Modernizr
      %script{:src => "js/foundation/modernizr.foundation.js"}
  %body.off-canvas.hide-extras
    #pageWrap
      / Ministry Index: Mega Drop
      #megaDrop.ministryIndex
        .inner
          %header
            %h2 Park Cities Presbyterian Church Ministry Index
          #ministryIndexWrap
            %ul.ministryIndexColumn
              %li.name Services
              %li
                %a{:href => ""} Item Title Goes Here
              %li
                %a{:href => ""} Item Title Goes Here
              %li
                %a{:href => ""} Item Title Goes Here
              %li
                %a{:href => ""} Item Title Goes Here
              %li
                %a{:href => ""} Item Title Goes Here
              %li
                %a{:href => ""} Item Title Goes Here
            %ul.ministryIndexColumn
              %li.name Services
              %li
                %a{:href => ""} Item Title Goes Here
              %li
                %a{:href => ""} Item Title Goes Here
              %li
                %a{:href => ""} Item Title Goes Here
              %li
                %a{:href => ""} Item Title Goes Here
              %li
                %a{:href => ""} Item Title Goes Here
              %li
                %a{:href => ""} Item Title Goes Here
            %ul.ministryIndexColumn
              %li.name Services
              %li
                %a{:href => ""} Item Title Goes Here
              %li
                %a{:href => ""} Item Title Goes Here
              %li
                %a{:href => ""} Item Title Goes Here
              %li
                %a{:href => ""} Item Title Goes Here
              %li
                %a{:href => ""} Item Title Goes Here
              %li
                %a{:href => ""} Item Title Goes Here
            %ul.ministryIndexColumn
              %li.name Services
              %li
                %a{:href => ""} Item Title Goes Here
              %li
                %a{:href => ""} Item Title Goes Here
              %li
                %a{:href => ""} Item Title Goes Here
              %li
                %a{:href => ""} Item Title Goes Here
              %li
                %a{:href => ""} Item Title Goes Here
              %li
                %a{:href => ""} Item Title Goes Here
          / /ministryIndexWrap
      / Masthead
      %header#mastheadWrap
        #masthead
          .inner
            %h1#name
              %a{:href => "/"} PCPC
            %aside#hours
              %span.title Sunday Service Times
              %span.body
                8:00am - Communion Service
                %br/
                9:30am/11:00am
            %nav#actionNav
              %ul
                %li.search
                  %input{:placeholder => "Search", :type => "text"}/
                %li
                  %a{:href => "news.html"} News
                %li
                  %a{:href => "events.html"} Events
                %li
                  %a{:href => "contact.html"} Contact
                %li
                  %a.toggleMegaDrop{:href => "#"} Ministry Index
          / /inner
        / /masthead
        %nav#globalNav.top-bar
          %ul
            %li.name
              %a{:href => "#"} Title
            %li.toggle-topbar
              %a{:href => ""}
          %section
            %ul
              %li
                %a{:href => "about.html"} About
              %li
                %a{:href => "worship.html"} Worship
              %li
                %a{:href => "connect.html"} Connect
              %li
                %a{:href => "serve.html"} Serve
              %li
                %a{:href => "outreach.html"} Outreach
              %li
                %a{:href => "care.html"} Care
              %li
                %a{:href => "resources.html"} Resources
              / Dropdown
              %li.dropdown
                %a{:href => "new-here.html"} New Here
                .dropdownWrap
                  .inner
                    %ul.dropdownColumn
                      %li.name Services
                      %li
                        %a{:href => ""} Item Title Goes Here
                      %li
                        %a{:href => ""} Item Title Goes Here
                      %li
                        %a{:href => ""} Item Title Goes Here
                      %li
                        %a{:href => ""} Item Title Goes Here
                      %li
                        %a{:href => ""} Item Title Goes Here
                      %li
                        %a{:href => ""} Item Title Goes Here
                    %ul.dropdownColumn
                      %li.name Services
                      %li
                        %a{:href => ""} Item Title Goes Here
                      %li
                        %a{:href => ""} Item Title Goes Here
                      %li
                        %a{:href => ""} Item Title Goes Here
                      %li
                        %a{:href => ""} Item Title Goes Here
                      %li
                        %a{:href => ""} Item Title Goes Here
                      %li
                        %a{:href => ""} Item Title Goes Here
                    %ul.dropdownColumn
                      %li.name Services
                      %li
                        %a{:href => ""} Item Title Goes Here
                      %li
                        %a{:href => ""} Item Title Goes Here
                      %li
                        %a{:href => ""} Item Title Goes Here
                      %li
                        %a{:href => ""} Item Title Goes Here
                      %li
                        %a{:href => ""} Item Title Goes Here
                      %li
                        %a{:href => ""} Item Title Goes Here
                    %ul.dropdownColumn
                      %li.name Services
                      %li
                        %a{:href => ""} Item Title Goes Here
                      %li
                        %a{:href => ""} Item Title Goes Here
                      %li
                        %a{:href => ""} Item Title Goes Here
                      %li
                        %a{:href => ""} Item Title Goes Here
                      %li
                        %a{:href => ""} Item Title Goes Here
                      %li
                        %a{:href => ""} Item Title Goes Here
                    .clear
                  .inner
      / /mastheadWrap
      / Content
      #contentWrap
        / Two Columns Content Layout
        %section.main-section{:role => "main"}
          .inner
            / Off Canvas: Page Menu Toggle
            %span#sidebarToggle
              %a#sidebarButton{:href => "#sidebar"} Menu
            %ul.breadcrumbs
              %li
                %span Home
              %li
                %span Features
              %li
                %span Gene Splicing
              %li.current
                %span Home
            / Body
            %article.audio-article
              %header
                %dl.tags
                  %dt Type:
                  %dd
                    %a{:href => "#"} Morning Service: 8am
                  |
                  %dt Category:
                  %dd
                    %a{:href => "#"} Easter
                %h2 Sermon Title that could possibly be a little long
                %p.lead Optional Subtitle that goes on for a ways, too
              %ul.meta
                %li
                  by
                  %a{:href => "#"} Mark Paul
                %li
                  %time{:datetime => "2007-08-29T13:58Z"}
                    Friday November 22, 2012
                %li
                  Scripture:
                  %a{:href => "#"} 1 Peter 3:14
                %li
                  %a{:href => "#"} Order of Worship
              %menu.mediaOptions
                .audioWrap
                  %audio{:controls => "control", :preload => "none", :src => "/media/AirReview-Landmarks-02-ChasingCorporate.mp3", :type => "audio/mp3"}
                %a.download.mediaButton{:href => "#"} Download MP3
              %section.body
                %h3 John 16:20-33
                %p 20Truly, truly, I say to you, you will weep and lament, but the world will rejoice. You will be sorrowful, but your sorrow will turn into joy. 21When a woman is giving birth, she has sorrow because her hour has come, but when she has delivered the baby, she no longer remembers the anguish, for joy that a human being has been born into the world. 22So also you have sorrow now, but I will see you again, and your hearts will rejoice, and no one will take your joy from you. 23In that day you will ask nothing of me. Truly, truly, I say to you, whatever you ask of the Father in my name, he will give it to you. 24Until now you have asked nothing in my name. Ask, and you will receive, that your joy may be full.
                %h4 I Have Overcome the World
                %p 25"I have said these things to you in figures of speech. The hour is coming when I will no longer speak to you in figures of speech but will tell you plainly about the Father. 26In that day you will ask in my name, and I do not say to you that I will ask the Father on your behalf;
                %p 27for the Father himself loves you, because you have loved me and have believed that I came from God. 28I came from the Father and have come into the world, and now I am leaving the world and going to the Father."
                %p 29His disciples said, "Ah, now you are speaking plainly and not using figurative speech! 30Now we know that you know all things and do not need anyone to question you; this is why we believe that you came from God." 31Jesus answered them, "Do you now believe? 32Behold, the hour is coming, indeed it has come, when you will be scattered, each to his own home, and will leave me alone. Yet I am not alone, for the Father is with me. 33I have said these things to you, that in me you may have peace. In the world you will have tribulation. But take heart; I have overcome the world."
                %span.subtext The Holy Bible, English Standard Version copyright (c)2001 by Crossway Bibles, a division of Good News Publishers. Used by permission. All rights reserved. http://www.esv.org
            / Sidebar Menu and Panel
            #aside-panel
              / Sub Menu Content
              %nav#menu{:role => "navigation"}
                %h4
                  %a{:href => ""} Side Nav Title
                %ul
                  %li.active
                    %a{:href => ""} One
                  %li
                    %a{:href => ""} Two
                  %li
                    %a{:href => ""} Three
                  %li
                    %a{:href => ""} Four
              / Info Panel
              .panelWrap
                %aside.panel
                  %header.title
                    %h4 Latest Sermon
                    %a.more{:href => "#"} Archives ⃗
                  %section.body
                    %time{:datetime => "2007-08-29T13:58Z"}
                      Friday November 22, 2012
                    %h3
                      %a{:href => "#"} The Title of a Engrossing Sermon Here
                    %span.tag by Mark Davis
                    %menu.mediaOptions
                      %a.listen.mediaButton{:href => "#"} Listen Now
                      %a.download.mediaButton{:href => "#"} Download MP3
              / /panelWrap
            / /aside-panel
          / /inner
        / /article
        / Off Canvas: Sub Menu Content
        %section#sidebar{:role => "complementary"}
          %nav#sideMenu{:role => "navigation"}
            %ul#sideMainNav.nav-bar
              %li
                %a{:href => ""} Item One
              %li
                %a{:href => ""} Two
              %li
                %a{:href => ""} Three
              %li
                %a{:href => ""} Four
      / /contentWrap
      / Footer
      %footer#footer
        .inner
          %ul.footerColumn
            %li.name Article Layouts
            %li
              %a{:href => "article-text.html"} Layout: Text
            %li
              %a{:href => "article-text_with_list.html"} Layout: Text + List
            %li
              %a{:href => "article-text_with_video.html"} Layout: Text + Video
            %li
              %a{:href => "article-text_with_audio.html"} Layout: Text + Audio
            %li
              %a{:href => "article-text_with_hero"} Layout: Text + Hero Image
          %ul.footerColumn
            %li.name Menu Layouts
            %li
              %a{:href => "large-menu_images.html"} Large Menu + Images
            %li
              %a{:href => "large-menu_text.html"} Large Menu + Text
            %li.name Use Guide
            %li
              %a{:href => "use-guide.html"} Use Guide
          %ul.footerColumn
            %li.name Special List Layouts
            %li
              %a{:href => "audio-list.html"} Layout: Audio List
            %li
              %a{:href => "resources-list.html"} Layout: Resources List
            %li.name Generic Title
            %li
              %a{:href => ""} Title of Item Goes Here
          %ul.footerColumn
            %li.name Generic Title
            %li
              %a{:href => ""} Title of Item Goes Here
            %li
              %a{:href => ""} Title of Item Goes Here
            %li
              %a{:href => ""} Title of Item Goes Here
            %li
              %a{:href => ""} Title of Item Goes Here
    / /pageWrap
    / JS Files (Uncompressed)
    %script{:src => "js/foundation/jquery.js"}
    %script{:src => "js/foundation/jquery.foundation.topbar.js"}
    %script{:src => "js/foundation/jquery.foundation.orbit.js"}
    %script{:src => "js/foundation/jquery.offcanvas.js"}
    %script{:src => "js/mediaelementjs.min.js"}
    %script{:src => "js/foundation/app.js"}