!!!
/ paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/
/[if IE 8] <html class="no-js lt-ie9" lang="en">
/[if gt IE 8] ><!
%html.no-js{:lang => "en"}
  / <![endif]
  %head
    %meta{:charset => "utf-8"}/
    / Viewport
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title Park Cities Presbyterian Church
    / CSS
    %link{:href => "css/app.css", :rel => "stylesheet"}
      / Modernizr
      %script{:src => "js/foundation/modernizr.foundation.js"}
  %body
    #pageWrap
      / Ministry Index: Mega Drop
      #megaDrop.ministryIndex
        .inner
          %header
            %h2 Park Cities Presbyterian Church Ministry Index
          #ministryIndexWrap
            %ul.ministryIndexColumn
              %li.name Services
              %li
                %a{:href => ""} Item Title Goes Here
              %li
                %a{:href => ""} Item Title Goes Here
              %li
                %a{:href => ""} Item Title Goes Here
              %li
                %a{:href => ""} Item Title Goes Here
              %li
                %a{:href => ""} Item Title Goes Here
              %li
                %a{:href => ""} Item Title Goes Here
            %ul.ministryIndexColumn
              %li.name Services
              %li
                %a{:href => ""} Item Title Goes Here
              %li
                %a{:href => ""} Item Title Goes Here
              %li
                %a{:href => ""} Item Title Goes Here
              %li
                %a{:href => ""} Item Title Goes Here
              %li
                %a{:href => ""} Item Title Goes Here
              %li
                %a{:href => ""} Item Title Goes Here
            %ul.ministryIndexColumn
              %li.name Services
              %li
                %a{:href => ""} Item Title Goes Here
              %li
                %a{:href => ""} Item Title Goes Here
              %li
                %a{:href => ""} Item Title Goes Here
              %li
                %a{:href => ""} Item Title Goes Here
              %li
                %a{:href => ""} Item Title Goes Here
              %li
                %a{:href => ""} Item Title Goes Here
            %ul.ministryIndexColumn
              %li.name Services
              %li
                %a{:href => ""} Item Title Goes Here
              %li
                %a{:href => ""} Item Title Goes Here
              %li
                %a{:href => ""} Item Title Goes Here
              %li
                %a{:href => ""} Item Title Goes Here
              %li
                %a{:href => ""} Item Title Goes Here
              %li
                %a{:href => ""} Item Title Goes Here
          / /ministryIndexWrap
      / Masthead
      %header#mastheadWrap
        #masthead
          .inner
            %h1#name
              %a{:href => "/"} PCPC
            %aside#hours
              %span.title Sunday Service Times
              %span.body
                8:00am - Communion Service
                %br/
                9:30am/11:00am
            %nav#actionNav
              %ul
                %li.search
                  %input{:placeholder => "Search", :type => "text"}/
                %li
                  %a{:href => "news.html"} News
                %li
                  %a{:href => "events.html"} Events
                %li
                  %a{:href => "contact.html"} Contact
                %li
                  %a.toggleMegaDrop{:href => "#"} Ministry Index
          / /inner
        / /masthead
        %nav#globalNav.top-bar
          %ul
            %li.name
              %a{:href => "#"} Title
            %li.toggle-topbar
              %a{:href => ""}
          %section
            %ul
              %li
                %a{:href => "about.html"} About
              %li
                %a{:href => "worship.html"} Worship
              %li
                %a{:href => "connect.html"} Connect
              %li
                %a{:href => "serve.html"} Serve
              %li
                %a{:href => "outreach.html"} Outreach
              %li
                %a{:href => "care.html"} Care
              %li
                %a{:href => "resources.html"} Resources
              / Dropdown
              %li.dropdown
                %a{:href => "new-here.html"} New Here
                .dropdownWrap
                  .inner
                    %ul.dropdownColumn
                      %li.name Services
                      %li
                        %a{:href => ""} Item Title Goes Here
                      %li
                        %a{:href => ""} Item Title Goes Here
                      %li
                        %a{:href => ""} Item Title Goes Here
                      %li
                        %a{:href => ""} Item Title Goes Here
                      %li
                        %a{:href => ""} Item Title Goes Here
                      %li
                        %a{:href => ""} Item Title Goes Here
                    %ul.dropdownColumn
                      %li.name Services
                      %li
                        %a{:href => ""} Item Title Goes Here
                      %li
                        %a{:href => ""} Item Title Goes Here
                      %li
                        %a{:href => ""} Item Title Goes Here
                      %li
                        %a{:href => ""} Item Title Goes Here
                      %li
                        %a{:href => ""} Item Title Goes Here
                      %li
                        %a{:href => ""} Item Title Goes Here
                    %ul.dropdownColumn
                      %li.name Services
                      %li
                        %a{:href => ""} Item Title Goes Here
                      %li
                        %a{:href => ""} Item Title Goes Here
                      %li
                        %a{:href => ""} Item Title Goes Here
                      %li
                        %a{:href => ""} Item Title Goes Here
                      %li
                        %a{:href => ""} Item Title Goes Here
                      %li
                        %a{:href => ""} Item Title Goes Here
                    %ul.dropdownColumn
                      %li.name Services
                      %li
                        %a{:href => ""} Item Title Goes Here
                      %li
                        %a{:href => ""} Item Title Goes Here
                      %li
                        %a{:href => ""} Item Title Goes Here
                      %li
                        %a{:href => ""} Item Title Goes Here
                      %li
                        %a{:href => ""} Item Title Goes Here
                      %li
                        %a{:href => ""} Item Title Goes Here
                    .clear
                  .inner
      / /mastheadWrap
      / Content
      #contentWrap
        / Large Menu
        %section.largeMenu
          .inner
            %header.title
              %h2 Outreach &amp; Help
              %p.lead Using CSS Columns, the List Items below can be comprised of varying amounts of content without breaking the grid or creating unsightly gaps.
              %hr
            %ul.menuList.text
              %li
                %p
                  %a{:href => "#"} The Page Title
                  \-
                  If Keyes is right, we have to beware of letting our honor of men slip into accommodation of all men’s ways—like a chameleon adapting to his surroundings. We’re chameleonlike when we adopt the practices of our culture uncritically: when we accrue, expect, schedule, make purchases, and prioritize in ways essentially indistinguishable from those without any interest in the glory of God.
              %li
                %p
                  %a{:href => "#"} The Page Title
                  \- Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              %li
                %p
                  %a{:href => "#"} The Page Title
                  \- Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. We’re chameleonlike when we consciously or unconsciously adopt the prevailing wisdom that our faith is merely a private matter, a choice relevant only to our own circle and situation. The fear of what we might lose keeps us from showing our true colors. The honor of men deteriorates into an honor of our reputations among men.
              %li
                %p
                  %a{:href => "#"} The Page Title
                  \- Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              %li
                %p
                  %a{:href => "#"} The Page Title
                  \- Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              %li
                %p
                  %a{:href => "#"} The Page Title
                  \- Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. We’re chameleonlike when we consciously or unconsciously adopt the prevailing wisdom that our faith is merely a private matter, a choice relevant only to our own circle and situation. The fear of what we might lose keeps us from showing our true colors. The honor of men deteriorates into an honor of our reputations among men.
          / /inner
        / largeMenu
      / /contentWrap
      / Footer
      %footer#footer
        .inner
          %ul.footerColumn
            %li.name Article Layouts
            %li
              %a{:href => "article-text.html"} Layout: Text
            %li
              %a{:href => "article-text_with_list.html"} Layout: Text + List
            %li
              %a{:href => "article-text_with_video.html"} Layout: Text + Video
            %li
              %a{:href => "article-text_with_audio.html"} Layout: Text + Audio
            %li
              %a{:href => "article-text_with_hero"} Layout: Text + Hero Image
          %ul.footerColumn
            %li.name Menu Layouts
            %li
              %a{:href => "large-menu_images.html"} Large Menu + Images
            %li
              %a{:href => "large-menu_text.html"} Large Menu + Text
            %li.name Use Guide
            %li
              %a{:href => "use-guide.html"} Use Guide
          %ul.footerColumn
            %li.name Special List Layouts
            %li
              %a{:href => "audio-list.html"} Layout: Audio List
            %li
              %a{:href => "resources-list.html"} Layout: Resources List
            %li.name Generic Title
            %li
              %a{:href => ""} Title of Item Goes Here
          %ul.footerColumn
            %li.name Generic Title
            %li
              %a{:href => ""} Title of Item Goes Here
            %li
              %a{:href => ""} Title of Item Goes Here
            %li
              %a{:href => ""} Title of Item Goes Here
            %li
              %a{:href => ""} Title of Item Goes Here
    / /pageWrap
    / JS Files (Uncompressed)
    %script{:src => "js/foundation/jquery.js"}
    %script{:src => "js/foundation/jquery.foundation.topbar.js"}
    %script{:src => "js/foundation/jquery.foundation.orbit.js"}
    %script{:src => "js/foundation/jquery.offcanvas.js"}
    %script{:src => "js/mediaelementjs.min.js"}
    %script{:src => "js/foundation/app.js"}