/* Audio Player Skin - v.1_rough-draft --- */ 
.mejs-container {
	background:none;
}

.mejs-container .mejs-controls {
	background: #8B8B8B;
	@include border-radius(4px 4px);
	border: 1px solid #333;
}
