// 
// :: Colors, Font Family Paths, Image Paths, Type 
// 
// Theme Colors
$main-color:#176f9f;
$highlight-color: #cc5b04;
$secondary-color:#a1b09b;
$dark-color:#3b3b3b;
$text-color: #3b3b3b;
$header-color: #3b3b3b;

// Font Family Paths
$sans:"proxima-nova", "proxima-nova-n4", sans-serif;
$serif:"minion-pro", serif;

// Image Paths
$sprite: url(../images/site/sprite+@2x.png) no-repeat;
