


/* Component: Article Wrap */
.main-section {

	.breadcrumbs {
		@extend .hide-for-small;
	}

	#aside-panel {
		@include column(4);
	}

	article {
		@include column(8);
	}
}



/* Component: Video Article */
.video-article {}



/* Component: Video */
.video {
	@extend .flex-video, .vimeo;
	padding-bottom:60.5%;
}




/* Component: Audio Article */
.audio-article {

	dl.tags {
		dt {font-weight:bold}
		dt, dd {display:inline;}
	}

	.meta {
		@include innerRow();
		@extend .no-bullet;
		@extend .inline-list;
		padding-bottom: 4px;
		margin: 0 0 17px !important;
		
		
		> li > * {
			display: inline !important;
		}
		
		> li {
			margin: 0 6px !important;
		}
		
		li:after {
			content: '|';
			padding:0 0 0 8px;
		}

		li:last-child:after {
			content: '';
		}
		border-bottom: 1px solid $grey;
	}

	.mediaOptions {
		@include innerRow();
		margin: 0;
		padding: 0;
		
		> a, .audioWrap {
			float: left;
			margin: 0 3px;
		}
	}


}



/* Component: Orbit List (designed for use with .featuredOrbit)*/
ul.orbitList {
	@include column(12, center);
	@extend .no-bullet;

	li {
		float:left;
		@include column(4);
	}
}




/* Component: Large Menu */
.largeMenu {
	@include column(12);
	.menuRow {
		@include innerRow();
	}

	ul.menuList.text {
		@include columns(3);

		li {
			display: inline-block;
			margin-bottom: 14px;
		}
	}

	ul.menuList.images {
		@extend .no-bullet;
		
		li {
			float: left;
			@include column(3);
		}
	}
}





/* Component: Panel */
.panelWrap {
	.panel {
		.title {
			border-bottom:1px solid $grey;
			display: inline-table;
			width: 100%;

			h4 {
				float:left;
			}
			.more {
				float:right;
			}
		}

		.body {
			clear:both;
		}
		
		.mediaOptions {
			padding: 0;
		}
	}
}



/* Component: Filter Tags Navigation */
dl.filter-tags {
	@extend .sub-nav;
	margin: 12px 0;

	dd a {
		@include border-radius(4px 4px );
	}
}



/* Component: Slats */
.slatsWrap header {
	h2 {
		line-height:1.25em;
		font-weight:bold;
		font-family:$sans;
		font-size: ms(3);
	}
}
ol.slats li {
	margin: 0 0 10px 0;
	padding: 0 0 10px 0;
	border-bottom: 1px solid #eee;
	list-style:none;
	}
ol.slats li:last-child {
	margin: 0;
	padding: 0;
	border-bottom: none;
	}
ol.slats li a h3 {
	font-size: 18px;
	font-weight: bold;
	line-height: 1.1;
	}
ol.slats li .tag {
	margin-top: -14px;
	display: block;
	margin-bottom:4px;
	color: #222;
}
ol.slats li a img {
	float: left;
	margin: 0 10px 0 0;
	padding: 4px;
	border: 1px solid #eee;
	}
ol.slats li a:hover img {
	background: #eee;
	}
ol.slats li a p {
	margin: 0 0 0 76px;
	font-size: 14px;
	line-height: 1.4;
	color: #222;
	}
ol.slats li a p span.meta {
	display: block;
	font-size: 12px;
	color: #999;
	}
ol.slats time.timestamp {
	float:left; 
	margin-right: 12px;
	height:50px;
	width:50px;
  font: bold 1.143em $sans;
  line-height: 1.2em;
  color:$light-charcoal;
  text-transform:uppercase;
  text-align:center;
  width:40px;
  .month {
    font-size:0.857em;
    display:block;
  }
  .date {
    font-size:1.714em;
    display:block;
  }
}
ol.slats .more-info {
	float:right;
} 
@media screen and (max-width: 700px) {
	ol.slats li a img {
		display: block;
		float: none;
		margin: 0 0 5px 0;
	}		
	ol.slats li a p {
		margin: 0;
	}
}	


