/* 
:: Placeholders
*/


/* List Blocks - good for Resources */
%list-block {
	border-bottom: 1px solid #ddd;
	ul {
		margin-left:12px;
	}
}


%blue-smooth-gradient-bg {
	// background-color: #004867; // Old browsers
	// @include filter-gradient(#004867, #00567d, vertical); // IE6-9
	// @include background-image(linear-gradient(top,  #004867 0%,#00567d 100%));

	background-color: #0b4869; // Old browsers
	@include filter-gradient(#0b4869, #03567f, vertical); // IE6-9
	@include background-image(linear-gradient(darken(rgba(3,86,123,1),5%), rgba(3,86,123,1)));
	
	
}