/* 
:: Shared
*/

body {
	background: $white;
}

.inner {@include outerRow();}


::selection {
	background: #84ADC4; /* Safari */
	color:white;
	}
::-moz-selection {
	background: #84ADC4; /* Firefox */
}


a {
	-webkit-transition: color 0.15s ease-in-out;
	-moz-transition: color 0.15s ease-in-out;
	-o-transition: color 0.15s ease-in-out;
	transition: color 0.15s ease-in-out;
}