/* Body */
body {
	background: $white;
}

/* Shared */
.inner {@include outerRow();}

// Search Box
.search input[type="text"] {
	@include border-radius(100px);
}

// Highlight Color
::selection {
	background: #84ADC4; /* Safari */
	color:white;
	}
::-moz-selection {
	background: #84ADC4; /* Firefox */
}

// Input Active Color
input[type="text"]:focus, input[type="password"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="time"]:focus, input[type="url"]:focus, textarea:focus {
	  @include box-shadow(0 0 5px rgba(81, 203, 238, 1));
	  outline:none;
}

/* Footer */
#footerWrap {
	background:$green;

	.footerColumn {
		@include column(3);

		.name {
			color:white;
			font-size: ms(1);
		}

		a {color:white;}

		li {list-style:none;}
	}
}